#card{
    background-color: #eee;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
label{font-weight: bold; letter-spacing: 0.5px;}
#userName:invalid+span {
    display: block
}
#userName:valid+span {
    display: none
}
.modal .modal-header h3{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
#card h3{
    font-family:serif;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #2B124C;
    border-radius: 5px;
}
.Radius{
    border-radius: 18px;
}
/* input[type='radio']{
    accent-color: #272727;
} */